/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts:
Website Colours: FF5300 00CDCB
----------------------------
*/



/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  */
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;

}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:100%
}



/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Lato', sans-serif;
  color: rgb(60,60,65);
}

h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
  text-align: center;
  font-weight: bold;

}
p {
  margin-bottom: 1rem;


}

h1 { font-size: 3.5rem; line-height: 1.2; position: relative; letter-spacing: 2.5px;}
h2 { font-size: 2.4rem; line-height: 1.25; }
h3 { font-size: 2.0rem; line-height: 1.3; }
h4 { font-size: 1.8rem; line-height: 1.35; margin-bottom: 2.1rem;}
h5 { font-size: 1.7rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.5; }
p  { font-size: 1.1rem; line-height: 1.5;}
blockquote  { font-size: 1.1rem; line-height: 1.5;}
li  { font-size: 1.1rem; }


/* Padding & Margin */

header, footer  { padding: 2vh 5%; }

section         { padding: 4vh 5%; }

.col,
[class*=col-]   { padding: 2%; }

.copyright {
 color: white;
 font-family: 'Cutive Mono', monospace;
 text-align: center;
 font-size: 1.0rem;
 padding-top: 2vh;
 text-decoration: none;
}

.hoverlight:hover{
  background-color: #f9f9f9;
}

/* Other universal styles */

/*.featured{
  background-color: rgb(0,205,203); /* featured color */
  /*color: white;*/
}
.fa.featured {
  color: gray; /* featured color */
  background: none;
}

hr {
  border: none;
  border-top: 1px solid rgb(0,205,203);
  margin: 3vh 0;

}
.previous, .next {
    padding: 0 1.5em;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

span {
  color: rgb(0,205,203);
  font-size: inherit;
}

/* GOOGLE MAP*/
iframe{
  width:100%;
}
.maps iframe{
  pointer-events: none;
  width:100%;
}


/* ----- HEADER & FOOTER --------------------------- */
nav a {
    text-decoration: none;
    padding: 1.2em;
    color: inherit;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
}
nav a:hover {
  color: #ff7532;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}
p a {
  text-decoration: none;
  color: inherit;
}

p a:hover{
    text-decoration: none;
    color: #ff7532;}

    font-size: 1rem;
}
header {
  border-bottom: 1px solid rgb(245,245,245);
}
.fixed {
  position: fixed;
}

.fa {
  font-size: 2.0 rem;
  text-decoration: none;
}
footer {
  border-top: 1px solid rgb(245,245,245);
}
footer nav a {
  display: block;
  padding: 0.5em;
}

footer nav .fa,
.social-share nav .fa {
  padding: 0 1em 0 0;
}


.pure-drawer { /* pop-out hamburger menu */
  padding: 5em 3%;
}

.mob-nav a {
  display: block;
  padding: 0.5em;
}
.social-nav {
  padding:2vh;

}

.fa {
  font-size: 1.5rem;
}


/* ----- MODULAR ELEMENTS --------------------------- */
.banner {
  background-color: gray;
  background-size: cover;
  background-position: center;
  min-height:80vh;
}

.box-img {
  background-color: #f5f5f5;
  background-image: url('/images/staffpics.jpg');
  background-size: cover;
  background-position: center;
  min-height: 20vh;
}

#quote .fa {font-size: 3.5rem;
color: rgba(0,205,203,0.5);
}

.colorblock {
  padding: 1vh;
  background-color: #00CDCB;
  color: white;
}

.tagline {
  padding: 0;
  font-family: 'Cutive Mono', monospace;
  color: #FF5300;
  text-align: center;
}

.featuredfont {
  font-family: 'Cutive Mono', monospace;
  line-height: 0.5rem;
}


div.topright{
 position: absolute;
 top: 8px;
 right: 16px;
}

nav.topleft {
  position: absolute;
  top: 8px;
  left: 16px;

}
.padding {
  padding: 4vh;
}
/* STAFF HOVER EFFECTS*/
.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: #FF5300;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.staff img {
  width: 30vw;
  height: 30vh;
}

.fa-heart {
  color:rgb(255,83,0);
}

.borderbox{
  border: 2px solid rgb(255,83,0);
  padding: 10px;
  margin: -12px;
  box-sizing: border-box;
}

.inline {
  margin: -38px;
  margin-bottom: 1.5rem;

}

.owl-carousel img {
  height: 50vh;
  width: 60vw;
}

/*Counter*/

.counter-style {
  display: table-cell;
  margin:1.5%;
  padding: 2vh;
  font-size:50px;
  background-color: rgb(255,83,0);
  width:200px;
  border-radius: 50%;
  height:200px;
  vertical-align: middle;
  text-align: center;
}
.countertext {
  font-size: 1rem;
  color: black;
}


/* Buttons */
 button,
.button {
  background-color: rgb(255,83,0);
  border: none;
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: 'Lato', sans-serif;
}

.button:hover {
  font-weight: semi-bold;
  background-color: white;
  color: rgb(255,83,0);
  border: 1px solid rgb(255,83,0);
  transition: 0.5s;
}

.button-inverted {
  background-color: white;
  border: 1px solid rgb(255,83,0);
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: 'Lato', sans-serif;
}

.button-inverted:hover {
  font-weight: semi-bold;
  background-color: rgb(255,83,0);
  color: white;
  border: 1px solid rgb(255,83,0);
  transition: 0.5s;
}
.color {
  color:rgb(255,83,0);
}

/* Customising the snipcart pop-up */
.snip-layout .snip-header,
.snip-layout .snip-footer {
  background-color:  white; /* featured color */
}
.snip-layout .snip-footer__copyright {
  color: white;
}

/* Blog elements */
.blog-loop a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0;
}
.blog-loop img,
.post-body img {
    margin-bottom: 2vh;
}
.post-body {
  padding-right: 3%;
}

.post-meta {
  font-size: 0.9rem;
}

.sidebar > div {
  border: 2px dotted #00CDCB;
  padding: 2rem;
  margin: 2vh 0;
}
blockquote {
  border-left: 2px solid rgb(255,83,0);
  margin-left: 3%;
  padding-left: 3%;
  color: gray;
}
 /*Lists */
ul      { list-style: circle inside; }
ol      { list-style: decimal inside;}
ol, ul  { padding-left: 0;
          margin-top: 0; }
li      { margin-bottom: 0.5rem;
text-align: left;}


/*STAFF FRAME*/
.element {
  width: inherit;
  height: inherit;
  margin: 50px;
  position: relative;
  padding: 2vh;
}
.top-border,
.bottom-border {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  left: 0;
}
.top-border {
  top: 0;
}
.bottom-border {
  bottom: 0;
}
.top-border:after,
.top-border:before,
.bottom-border:after,
.bottom-border:before {
  content: '';
  width: 30%;
  height: 100%;
}
.top-border:after,
.top-border:before {
  border-top:2px dotted #00CDCB;
}
.bottom-border:after,
.bottom-border:before {
  border-bottom: 2px dotted #00CDCB;
}
.top-border:before,
.bottom-border:before {
  border-left: 2px dotted #00CDCB;
}
.top-border:after,
.bottom-border:after {
  border-right: 2px dotted #00CDCB;
}



/* ----- FORMS --------------------------- */

input,
textarea {
  border-style: solid;
  border: 1px solid grey;
  padding: 0.8em;
  font-family: 'Work Sans'; /* Site Font */
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 1em auto;
  vertical-align: top;
}
textarea {
  min-height: 7em;
}
input[type="submit"] {
  width: auto;
  display: block;
}

form [class*=col-] {
  padding: 1%;
}



/* ------------ BACKGROUND IMAGES --------------- */

#intro-banner {
  background-image: url('/images/yoga-1.jpg');
}

/*------- Media Queries ------------------------*/
@media(max-width:800px) {

  /* --- General Responsive Helpers ----*/

  .mob-hide {
      display: none!important;
  }
  .mob-show {
    display: block;
  }

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%; /* This fixes a flexbox bug */
  }

  /* ------ General Mobile Styles ---------*/
  /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
  body,
  .left,
  .right {
    text-align: center;
  }
  /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
  /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
  .col,
  [class*=col-] {
    padding: 1rem;
  }
  textarea {
    margin: 0;
  }

}/* End media query */
