<h2><span>Free Bird Cafe</span></h2>
<p class="tagline">
  A Cafe with a Cause
</p>

<nav class="grid">
  <div class="col-6">
  <a href="/index"> Home </a> <br />
  <a href="/about"> About </a> <br />
  <a href="/training">Training</a> <br />
  <a href="/getinvolved">Get Involved</a>
  </div>
  <div class="col-6">
  <a href="/charityshop">Charity Shop</a><br />
  <a href="/blog">Blog</a><br />
  <a href="/events">Events</a><br />
  <a href="/contact">Contact </a><br />
  </div>
</nav>

<hr>
<nav class="social-nav">
  <a target="blank" href="https://www.facebook.com/FreeBirdCafe/"> <i class="fa fa-facebook"></i> </a>
  <a target="blank" href="https://www.instagram.com/freebirdcafe/"> <i class="fa fa-instagram"></i> </a>
  <a target="blank" href="https://twitter.com/freebirdcafe?lang=en"> <i class="fa fa-twitter"></i> </a>

</nav>

<div class="centered">
  <a target="blank" class="button-inverted" href="/donate.html">Donate</a>
</div>
