<section class="padding colorblock">
<nav class="social-nav topleft">
  <a target="blank" href="https://www.facebook.com/FreeBirdCafe/"> <i class="fa fa-facebook"></i> </a>
  <a target="blank" href="https://www.instagram.com/freebirdcafe/"> <i class="fa fa-instagram"></i> </a>
  <a target="blank" href="https://twitter.com/freebirdcafe?lang=en"> <i class="fa fa-twitter"></i> </a>
</nav>

<div class="topright">
  <a target="blank" class="button" href="/donate.html">Donate</a>
</div>
</section>


<header class="mob-hide">

    <nav class="grid-bottom-noGutter-equalHeight">
      <div class="col-5 right">
      <a href="/index"> Home</a>
      <a href="/about"> About</a>
      <a href="/training">Training</a>
      <a href="/charityshop">Charity Shop</a>
     </div>

     <div class="col-2-center">
      <a href="/index"><img src="/images/demo-logo1.png" alt="Free Bird Cafe"></a>
    </div>

     <div class="col-5 lefts">
      <a href="/getinvolved">Get Involved</a>
      <a href="/blog">Blog</a>
      <a href="/events">Events</a>
      <a href="/contact">Contact</a>
       </div>
    </nav>

</header>
