<footer class="grid-spaceBetween">

  <!-- Column 1 -->
  <div class="col-3">
    <img class="logo small" src="/images/demo-logo.png" alt="Brand Name Here">
    </div>
    <nav class="col-3">
    <br />116 Maneenoparat Road
    <br />Chiang Mai, Thailand 50300
    <br /><i class="fa fa-phone" aria-hidden="true"></i> +66 810285383
  </nav>


  <!-- Column 2 -->

<nav>


      <div class="col-2">
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/training">Training</a>
      <a href="/getinvolved">Get Involved</a>
      </div>
</nav>
<nav>
      <div class="col-2">
      <a href="/charityshop">Charity Shop</a>
      <a href="/blog">Blog</a>
      <a href="/events">Events</a>
      <a href="/contact">Contact</a>
      </div>
  </nav>

  <div class="col-2">
  <nav>
    <a href="#"> <i class="fa fa-facebook"></i>Facebook</a>
    <a href="#"> <i class="fa fa-instagram"></i>Instagram</a>
    <a href="#"> <i class="fa fa-twitter"></i>Twitter</a>
  </nav>
  </div>

</footer>
