<footer class="grid-middle-spaceBetween-noGutter-equalHeight">

  <!-- Column 1 -->
  <div class="col-3">
    <a href="/index"><img src="/images/demo-logo.png" alt="Free Bird Cafe"></a>
    </div>
    <nav class="col-3 mob-hide">
    <p>
    <br />116 Maneenoparat Road
    <br />Chiang Mai, Thailand 50300
    <br /><i class="fa fa-phone" aria-hidden="true"></i>+66 810285383
    <br />Tuesday-Saturday 9am-5pm

    <br /><a target="blank" class="button" href="/donate">Donate</a>
    </p>
  </nav>


  <!-- Column 2 -->

<nav>
      <div class="col-2 mob-hide">

      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/training">Training</a>
      <a href="/getinvolved">Get Involved</a>
    </div>
</nav>
<nav>
      <div class="col-2 mob-hide">
      <a href="/charityshop">Charity Shop</a>
      <a href="/blog">Blog</a>
      <a href="/events">Events</a>
      <a href="/contact">Contact</a>
      </div>
  </nav>

  <div class="col-2">
  <nav>
    <a target="blank" href="https://www.facebook.com/FreeBirdCafe/"> <i class="fa fa-facebook"></i>Facebook</a>
    <a target="blank" href="https://www.instagram.com/freebirdcafe/"> <i class="fa fa-instagram"></i>Instagram</a>
    <a target="blank" href="https://twitter.com/freebirdcafe?lang=en"> <i class="fa fa-twitter"></i>Twitter</a>
  </nav>
  </div>

</footer>
<div class="colorblock">
  <div>
    <p class="copyright">
      <i class="fa fa-copyright"></i>Free Bird Cafe 2017 // Site By <a target="blank" href="http://lauratreganowan.com/">Laura Treganowan</a>
    </p>
  </div>

</div>
