

<nav class="social-nav centered">
  <a href="#"> <i class="fa fa-facebook"></i> </a>
  <a href="#"> <i class="fa fa-instagram"></i> </a>
  <a href="#"> <i class="fa fa-twitter"></i> </a>
</nav>

<header class="grid-spaceBetween">
  <div class="col-12">
    <nav class="centered">
      <a href="/index"> Home</a>
      <a href="/about"> About</a>
      <a href="/training">Training</a>
      <a href="/charityshop">Charity Shop</a>
      <a class="logo" href="/index"><img src="/images/demo-logo.png" alt="Free Bird Cafe"></a>
      <a href="/getinvolved">Get Involved</a>
      <a href="/blog">Blog</a>
      <a href="/events">Events</a>
      <a href="/contact">Contact</a>
    </nav>
    </div>






</header>
