<section class="staff">
  <h2> Meet the team </h2>
  <div class="grid-equalHeight">

    <div class="col container">
        <a href="/staffbio.html">
        <img src="/images/fbcstaff1.jpg" alt="Name" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>

    <div class="col container">
        <a href="/staffbio.html">
        <img src="/images/fbcstaff2.jpg" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>


      <div class="col container">
<a href="/staffbio.html">
        <img src="/images/fbcstaff3.jpg" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>


    <div class="col container">
        <a href="/staffbio.html">
        <img src="/images/fbcstaff4.jpg" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>

    <div class="col container">
        <a href="/staffbio.html">
        <img src="http://placekitten.com/g/200/" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>

    <div class="col container">
        <a href="/staffbio.html">
        <img src="http://placekitten.com/g/200/" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>

    <!-- Add jQuery hover effect links out to staffbio.html highlighting dreams of each member of the staff -->

</section>
