<section>
  <h2> Meet the team </h2>
  <div class="grid-equalHeight-spaceBetween">

    <div class="col container">
        <a href="/staffbio.html">
        <img src="http://placekitten.com/g/200/" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>

    <div class="col container">
        <a href="/staffbio.html">
        <img src="http://placekitten.com/g/200/" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>


      <div class="col container">
<a href="/staffbio.html">
        <img src="http://placekitten.com/g/200/" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>


    <div class="col container">
        <a href="/staffbio.html">
        <img src="http://placekitten.com/g/200/" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>

    <div class="col container">
        <a href="/staffbio.html">
        <img src="http://placekitten.com/g/200/" alt="Kitty" class="image" />
        <div class="overlay">
          <div class="text">
            Meet Lisa</div>
        </div>
        </a>
    </div>

    <!-- Add jQuery hover effect links out to staffbio.html highlighting dreams of each member of the staff -->

</section>
