---
layout: default
title: post
---

<section class="tall grid">

  <div class="col-8_sm-12 post-body">
      <h1> {{page.title}} </h1>
      <p class="post-meta">{{page.date | date_to_string }} | Written by {{page.author}}</p>
      <img class="full-width" src="{{page.image_path}}">

      {{content}}

      <hr>

      <div class="social-share">
        <h4> Did you <i class="fa fa-heart featured"></i> this? Share it on ... </h4>
        <nav>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                <i class="fa fa-twitter"></i>Twitter
            </a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>Facebook
            </a>
            <a href="https://pinterest.com/pin/create/bookmarklet/?media={img}&url={url}&is_video={is_video}&description={title}{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>Pinterest
            </a>
        </nav>
      </div>

  </div>

  <div class="col-4_sm-12 mob-hide sidebar">
      <div class="centered">
        <h3> Free Bird Cafe <span>Blog</span></h3>
        <p> Here is where we share stories, successes, and the latest news. </p>
        <img src="http://placekitten.com/g/200/" />
      </div>
      <div>
        <p> You could put anything you want in here, like links to your social or featured articles, a newsletter signup, etc </p>
      </div>
  </div>

  {% include pastpost.html %}

</section>
